<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResourcesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SelfHostedResourceService/ResourcesService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourcesService"
                contract="ResourceService.IResourcesService" name="BasicHttpBinding_IResourcesService" />
        </client>
    </system.serviceModel>
</configuration>